.geraltela {
  width: 100%;
  height: 100%;
  margin-top: -100px;
  position: fixed;
}

.painel {
  width: 100%;
  height: 40%;
  display: inline-flex;
  border-bottom: 2px solid #428bca;
}

.principal {
  width: 100%;
  height: 55%;
}

.rodape {
  width: 100%;
  height: 5%;
  display: inline-flex;
}

.esquerdo {
  width: 65%;
  height: 100%;
  display: inline-flex;
}

.direito {
  width: 35%;
  height: 100%;
  background-color:  #428bca;
}

.titulo {
  width: 100%;
  height: 8%;
  text-align: center;
  color: #4e4e4e;
  font-size: 140%;
}

.tabela {
  width: 100%;
  height: 92%;
}

.datas {
  background-color: #6d6e6e;
  color: white;
  font-size: 130%;
  width: 15%;
}

.informacoes {
  background-color: #428bca;
  font-size: 130%;
  color: white;
  width: 85%;
}

.classeimg {
  width: 30%;
  height: 100%;
}

.informacoesreg {
  width: 70%;
  height: 100%;
  margin-left: 10px;
  display: inline-grid;
}
