<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
        <img src="assets/imagem/jato.png" alt=""/>
        <h3>CADASTRO DE SALAS</h3>
    </div>

    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist"></ul>
      <div class="" >
        <div id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="ID *" value="" />
              </div>

              <div class="form-group"></div>

              <div class="form-group">
                <div class="maxl"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Sala *" value="" />
              </div>
                <div class="form-group"></div>

              <div class="botton">
                <input type="submit" class="btnRegister"  value="Novo"/>
                <input type="submit" class="btnRegister"  value="Editar"/>
                <input type="submit" class="btnRegister"  value="Excluir"/>
                <input type="submit" class="btnRegister"  value="Gravar"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
