<div class="geral">
  <div class="login">
    <img src="/assets/imagem/aluna.jpg" class="usuario" width="100" height="100" alt="">

    <form>
      <input style="margin-bottom: 15px" type="text" placeholder="Nome do Aluno(a)" size="30">
      <input style="margin-bottom: 15px" type="text" placeholder="Nome Responsavel" size="27">
      <input style="margin-bottom: 15px" type="text" placeholder="00:00:00" size="27">
      <input style="margin-bottom: 15px" type="text" placeholder="Série" size="27">
      <input style="margin-bottom: 15px" type="text" placeholder="Turma" size="27">
      <input style="margin-bottom: 15px" type="text" placeholder="Turno" size="27">
    </form>
  </div>

  <div class="retorno">
    <a routerLink="/" style="color: blue;">Voltar</a>
  </div>
</div>

