.geral{
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: rgba(128, 120, 120, 0.445);
  background-size: cover;
  font-family: "Comfortaa", sans-serif;
}

.retorno {
  position: fixed;
  width: 89.5%;
  color: rgb(136, 9, 58);
  margin: 0 auto;
  bottom: 20px;
  text-align: right;
}

.login{
  width: 1080px;
  height: 510px;
  border: 0 solid beige;
  border-radius: 80px 0px 80px 0px;
  color: transparent;
  background-color: rgba(248, 247, 247, 0.747);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.usuario{
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 650px;
  width: 40%;
  height: 100%;
}

h1{
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 20px;
  letter-spacing: 10%;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #000 ;
  font-weight: normal;
}

h7{
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  position: absolute;
  font-size: 12px;
  top: 550px;
  left: 550px;
}

.login p{
  margin: 0;
  padding: 5;
  font-weight: normal;
  color: #000;
}

.login input[type="text"], input[type="password"]{
  border: 0px;
  background: transparent;
  background-color: rgba(128, 120, 120, 0);
  height: 45px;
  color: #000;
  font-size: 35px;
}

.login input[type="submit"]{
  border: 0;
  outline: 0;
  height: 35px;
  font-size: 15px;
  color: #000;
  background: #fff(228, 223, 223);
  border-radius: 20px;
  transition: 0.2s;
}

.login input[type="submit"]:hover{
  cursor: pointer;
  background:  rgba(89, 89, 90, 0.219);
  transition: 0.2s;
}

.login a{
  font-weight: bold;
  text-decoration: transparent;
  font-size: 12px;
  line-height: 20px;
  color: #070707;
  transition: 0.2s;
}

