<div class="nav-content">
  <menu class="menu">
    <ul class="container">
      <li><a href="" routerLink="/" class="active ico-home" role="menuitem">Home</a></li>
      <li><a href="#" role="menuitem">Arquivo</a></li>
      <li><a href="#" role="menuitem">Cadastros</a>
        <ul>
          <li><a href="resp_pedag.html">Responsaveis</a></li>
          <li><a href="turno.html">Turnos</a></li>
          <li><a href="turmas.html">Turmas</a></li>
          <li><a routerLink="/alunos/novo">Alunos</a></li>
          <li><a routerLink="/salas/novo">Salas</a></li>
        </ul>
      </li>
      <li><a href="#" role="menuitem">Relatórios</a></li>
      <li><a href="#" role="menuitem">Utilitários</a></li>
      <li><a href="#" role="menuitem">Configurações</a></li>
      <li><a href="#" role="menuitem">Sair</a></li>
    </ul>
  </menu>

  <h2 class="title-sep visible-xs">Mais</h2>
  <ul class="nav-mob-list visible-xs">
    <li><a href="#" class="ico-help-circle">Ajuda e sugestões</a></li>
  </ul>
</div>

<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="assets/imagem/jato.png" alt=""/>
      <h3>CADASTRO DE SÉRIE</h3>
    </div>

    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist"></ul>
      <div class="" >
        <div id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="ID *" value="" />
              </div>

              <div class="form-group">

              </div>

              <div class="form-group">
                <div class="maxl"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Série *" value="" />
              </div>

              <div class="form-group"></div>

              <div class="botton">
                <input type="submit" class="btnRegister" value="Novo"/>
                <input type="submit" class="btnRegister" value="Editar"/>
                <input type="submit" class="btnRegister" value="Excluir"/>
                <input type="submit" class="btnRegister" value="Gravar"/>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="footer-menu">
    <nav class="container">
      <h2 class="title-footer">Escola Bedinha</h2>
      <ul class="no-liststyle">
        <li><a href="chamda.html" class="bg-customer-support"><span class="visible-lg">Chamar Alunos</span></a></li>
        <li><a href="#" class="bg-my-tickets"><span class="visible-lg">Meus Chamados</span></a></li>
        <li><a href="#" class="bg-help-desk"><span class="visible-lg">Suporte DoorDev</span></a></li>
        <li><a href="#" class="bg-statusblog"><span class="visible-lg">Statusblog</span></a></li>
      </ul>
    </nav>
  </div>

  <div class="container footer-info">
    <span class="last-access ico-screen"><strong>Último acesso: </strong>7/8/2011 22:35:49</span>
    <div class="set-ip"><span class="set-ip"><strong>IP:</strong> 201.87.65.217</span></div>
    <p class="copy-right">Copyright © 2020-2020 Escola Bedinha.</p>
  </div>
</footer>
