<footer class="footer">
  <div class="footer-menu">
    <nav class="container">
      <h2 class="title-footer">Escola Bedinha</h2>
      <ul class="no-liststyle">
        <li><a href="chamda.html" class="bg-customer-support"><span class="visible-lg">Chamar Alunos</span></a></li>
        <li><a href="#" class="bg-my-tickets"><span class="visible-lg">Meus Chamados</span></a></li>
        <li><a href="#" class="bg-help-desk"><span class="visible-lg">Suporte DoorDev</span></a></li>
        <li><a href="#" class="bg-statusblog"><span class="visible-lg">Statusblog</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="container footer-info">
    <span class="last-access ico-screen"><strong>Último acesso: </strong>7/8/2011 22:35:49</span>
    <div class="set-ip"><span class="set-ip"><strong>IP:</strong> 201.87.65.217</span></div>
    <p class="copy-right">Copyright © 2020-2020 Escola Bedinha.</p>
  </div>
</footer>
