.geralmente {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: rgba(128, 120, 120, 0.445);
  background-size: cover;
  font-family: "Comfortaa", sans-serif;
}

.login {
  width: 300px;
  height: 420px;
  border: 0 solid beige;
  border-radius: 80px 0px 80px 0px;
  color: transparent;
  background-color: rgba(248, 247, 247, 0.747);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 28px;
}

.usuario {
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 112px;
}

h1 {
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 20px;
  letter-spacing: 10%;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #000 ;
  font-weight: normal;
}

h7 {
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  position: absolute;
  font-size: 12px;
  top: 550px;
  left: 550px;
}

.login p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #000;
}

.login input {
  width: 100%;
  margin-bottom: 21px;
}

.login input[type="text"], input[type="password"] {
  border: 0px;
  border-bottom: 1p;
  background: transparent;
  background-color: rgba(128, 120, 120, 0);
  height: 35px;
  color: #000;
  font-size: 12px;
}


.login input[type="submit"] {
  border: 0;
  outline: 0;
  height: 35px;
  font-size: 15px;
  color: #000;
  background: rgb(228, 223, 223);
  border-radius: 20px;
  transition: 0.2s;
}

.login input[type="submit"]:hover {
  cursor: pointer;
  background:  rgba(89, 89, 90, 0.219);
  transition: 0.2s;
}

.login a {
  font-weight: bold;
  text-decoration: transparent;
  font-size: 12px;
  line-height: 20px;
  color: #070707;
  transition: 0.2s;
}

.login a:hover {
  transition: 0.2s;
  color: rgb(148, 26, 26);
}
