<header class="header" role="banner">
  <div class="container">
    <span class="control-menu visible-xs ico-menu-2"></span>
    <span class="control-sidebar visible-xs ico-list"></span>
    <h1 class="project-name"><a href="#"></a></h1>
    <img src="assets/imagem/user.png" class="usuario" width="130" height="129" alt="">

    <div class="dropdown hidden-xs">

    </div>
  </div>
</header>

<div class="nav-content">
  <menu class="menu">
    <ul class="container">
      <li><a href="" routerLink="/" class="active ico-home" role="menuitem">Home</a></li>
      <li><a href="#" role="menuitem">Arquivo</a></li>
      <li><a href="#" role="menuitem">Cadastros</a>
        <ul>
          <li><a routerLink="/cartoes">Cartões</a></li>
          <li><a routerLink="/responsaveis">Responsaveis</a></li>
          <li><a routerLink="/turnos">Turnos</a></li>
          <li><a routerLink="/turmas">Turmas</a></li>
          <li><a routerLink="/alunos">Alunos</a></li>
          <li><a routerLink="/salas">Salas</a></li>
          <li><a routerLink="/series">Série</a></li>
        </ul>
      </li>
      <li><a href="#" role="menuitem">Relatórios</a></li>
      <li><a href="cartao.html">Cartão</a></li>
      <li><a href="#" role="menuitem">Configurações</a></li>
      <li><a href="#" role="menuitem">Sair</a></li>
    </ul>
  </menu>
  <h2 class="title-sep visible-xs">Mais</h2>
  <ul class="nav-mob-list visible-xs">
    <li><a href="#" class="ico-help-circle">Ajuda e sugestões</a></li>
  </ul>
</div>

<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9 content" role="main">
        <br>
        <a href="chamda.html"><button class="button button1"></button></a>
        <br>
      </div>
      <aside class="col-md-3 sidebar" role="complementary">
      <figure>
          <img src="assets/imagem/logoc.png">
      </figure>
      </aside>
    </div>
  </div>
</main>
