<header class="header" role="banner">
  <div class="container">
    <span class="control-menu visible-xs ico-menu-2"></span>
    <span class="control-sidebar visible-xs ico-list"></span>
    <h1 class="project-name"><a href="#"></a></h1>
    <img src="assets/imagem/user.png" class="usuario" width="130" height="129" alt="">

    <div class="dropdown hidden-xs">

    </div>
  </div>
</header>

<div class="nav-content">
  <menu class="menu">
    <ul class="container">
      <li><a href="" routerLink="/" class="active ico-home" role="menuitem">Home</a></li>
      <li><a href="#" role="menuitem">Arquivo</a></li>
      <li><a href="#" role="menuitem">Cadastros</a>
        <ul>
          <li><a routerLink="/responsaveis/novo">Responsaveis</a></li>
          <li><a routerLink="/turnos/novo">Turnos</a></li>
          <li><a routerLink="/turmas/novo">Turmas</a></li>
          <li><a routerLink="/alunos/novo">Alunos</a></li>
          <li><a routerLink="/salas/novo">Salas</a></li>
          <li><a routerLink="/series/novo">Série</a></li>
        </ul>
      </li>
      <li><a href="#" role="menuitem">Relatórios</a></li>
      <li><a href="cartao.html">Cartão</a></li>
      <li><a href="#" role="menuitem">Configurações</a></li>
      <li><a href="#" role="menuitem">Sair</a></li>
    </ul>
  </menu>
  <h2 class="title-sep visible-xs">Mais</h2>
  <ul class="nav-mob-list visible-xs">
    <li><a href="#" class="ico-help-circle">Ajuda e sugestões</a></li>
  </ul>
</div>

<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9 content" role="main">
        <br>
        <a href="chamda.html"><button class="button button1"></button></a>
        <br>
      </div>
      <aside class="col-md-3 sidebar" role="complementary">
      <figure>
          <img src="assets/imagem/logoc.png">
      </figure>
      </aside>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="footer-menu">
    <nav class="container">
      <h2 class="title-footer">Escola Bedinha</h2>
      <ul class="no-liststyle">
        <li><a href="chamda.html" class="bg-customer-support"><span class="visible-lg">Chamar Alunos</span></a></li>
        <li><a href="#" class="bg-my-tickets"><span class="visible-lg">Meus Chamados</span></a></li>
        <li><a href="#" class="bg-help-desk"><span class="visible-lg">Suporte DoorDev</span></a></li>
        <li><a href="#" class="bg-statusblog"><span class="visible-lg">Statusblog</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="container footer-info">
    <span class="last-access ico-screen"><strong>Último acesso: </strong>7/8/2011 22:35:49</span>
    <div class="set-ip"><span class="set-ip"><strong>IP:</strong> 201.87.65.217</span></div>
    <p class="copy-right">Copyright © 2020-2020 Escola Bedinha.</p>
  </div>
</footer>
