
<main class="main" style="padding-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-9 content" role="main">
        <br>
          <a routerLink="/chamada">
            <button style="background: url('assets/imagem/all.png') no-repeat left center;" class="button button1"></button>
          </a>
        <br>
      </div>
      <aside class="col-md-3 sidebar" role="complementary">
      <figure>
          <img src="assets/imagem/logoc.png">
      </figure>
      </aside>
    </div>
  </div>
</main>
