<div class="geral">
  <p-confirmDialog></p-confirmDialog>
  <div>
    <p-table id="dynamic-table" [value]="turnos" [responsive]="true" [paginator]="true" *ngIf="visible"
      [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)" class="table table-striped">
      <ng-template pTemplate="header">
        <tr>
          <th class="center" style="width: 20%;">Código</th>
          <th class="center" style="width: 70%;">Turno</th>
          <th class="center" style="width: 10%;">Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-turno>
        <tr>
          <td class="center">{{turno?.codigo}}</td>
          <td class="center">{{turno?.turno}}</td>
          <td class="center">
            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
              [routerLink]="['/turnos', turno.codigo]"></a>

            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
              (click)="ConfirmarExclusao(turno)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            Nenhum aluno encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div>
    <button type="button" class="btnRegister" routerLink="/turnos/novo">Incluir</button>
  </div>
</div>
