<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="assets/imagem/jato.png" alt=""/>
      <h3>Cadastro de Alunos</h3>
    </div>

    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist"></ul>

      <div>
        <div>
          <form role="form" autocomplete="off" [formGroup]="formulario" (ngSubmit)="Salvar()">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input placeholder="ID" class="form-control" [readonly]= "true" type="text"
                    pInputText ng-model="text" name="codigo" formControlName="codigo">
                </div>

                <div class="form-group">
                  <input placeholder="Nome do Aluno(a) *" class="form-control" type="text"
                    pInputText ng-model="text" name="nome" formControlName="nome">
                </div>

                <div class="form-group" formGroupName="sala">
                  <p-dropdown [style]="{'min-width': '100%'}" formControlName="codigo" [options]="salas" placeholder="Selecione" name="codigo"></p-dropdown>
                </div>

                <div class="form-group" formGroupName="turno">
                  <p-dropdown [style]="{'min-width': '100%'}" formControlName="codigo" [options]="turnos" placeholder="Selecione" name="codigo"></p-dropdown>
                </div>

                <div class="form-group" formGroupName="turma">
                  <p-dropdown [style]="{'min-width': '100%'}" formControlName="codigo" [options]="turmas" placeholder="Selecione" name="codigo"></p-dropdown>
                </div>

                <div class="form-group">
                  <div class="maxl">
                    <label class="radio inline">
                        <input type="radio" name="gender" value="male" checked>
                        <span> Masculino </span>
                    </label>

                    <label class="radio inline">
                        <input type="radio" name="gender" value="female">
                        <span>Feminino </span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input placeholder="Matrícula *" class="form-control" type="text"
                    pInputText ng-model="text" name="matricula" formControlName="matricula">
                </div>

                <div class="form-group" formGroupName="responsavel">
                  <input placeholder="Nome da mãe *" class="form-control" type="text"
                    pInputText ng-model="text" name="nomemae" formControlName="nomemae">
                </div>

                <div class="form-group" formGroupName="responsavel">
                  <input placeholder="Telefone *" class="form-control" type="text"
                    pInputText ng-model="text" name="telefone" formControlName="telefone">
                </div>

                <div class="form-group" formGroupName="serie">
                  <p-dropdown [style]="{'min-width': '100%'}" formControlName="codigo" [options]="series" placeholder="Selecione" name="codigo"></p-dropdown>
                </div>

                <div class="form-group" formGroupName="resppedagogico">
                  <p-dropdown [style]="{'min-width': '100%'}" formControlName="codigo" [options]="responsaveis" placeholder="Selecione" name="codigo"></p-dropdown>
                </div>

                <div class="botton">
                  <input type="submit" class="btnRegister"  value="Novo"/>
                  <input type="submit" class="btnRegister"  value="Editar"/>
                  <input type="submit" class="btnRegister"  value="Excluir"/>
                  <input type="submit" class="btnRegister"  value="Gravar"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
