<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="assets/imagem/jato.png" alt=""/>
      <h3>Cadastro de Alunos</h3>
    </div>

    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist"></ul>

      <div>
        <div>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input style="margin-bottom: 15px" type="text" class="form-control" placeholder="ID*" value="" />
                <input type="text" class="form-control" placeholder="Nome do Aluno(a) *" value="" />
              </div>

              <div class="form-group">
                <select class="form-control">
                  <option class="hidden"  selected disabled>Sala *</option>
                  <option>SALA 1</option>
                  <option>SALA 2</option>
                  <option>SALA 3</option>
                  <option>SALA 4</option>
                  <option>SALA 5</option>
                  <option>SALA 6</option>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control">
                  <option class="hidden"  selected disabled>Turno *</option>
                  <option>MATUTINO</option>
                  <option>VESPERTINO</option>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control">
                  <option class="hidden"  selected disabled>Turma *</option>
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>F</option>
                  <option>G</option>
                </select>
              </div>

              <div class="form-group">
                <div class="maxl">
                  <label class="radio inline">
                      <input type="radio" name="gender" value="male" checked>
                      <span> Masculino </span>
                  </label>

                  <label class="radio inline">
                      <input type="radio" name="gender" value="female">
                      <span>Feminino </span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Matrícula *" value="" />
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome da Mãe *" value="" />
              </div>

              <div class="form-group">
                <input type="text" minlength="11" maxlength="11" name="txtEmpPhone" class="form-control" placeholder="Telefone *" value="" />
              </div>

              <div class="form-group">
                <select class="form-control">
                  <option class="hidden"  selected disabled>Série *</option>
                  <option>1° Ano</option>
                  <option>2° Ano</option>
                  <option>3° Ano</option>
                  <option>4° Ano</option>
                  <option>5° Ano</option>
                  <option>6° Ano</option>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control">
                  <option class="hidden"  selected disabled>Responsável Pedagógico *</option>
                  <option>Tia Maria</option>
                  <option>Tia Joana</option>
                  <option>Tia Kamila</option>
                </select>
              </div>

              <div class="botton">
                <input type="submit" class="btnRegister"  value="Novo"/>
                <input type="submit" class="btnRegister"  value="Editar"/>
                <input type="submit" class="btnRegister"  value="Excluir"/>
                <input type="submit" class="btnRegister"  value="Gravar"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
