<div class="geral">
  <p-confirmDialog></p-confirmDialog>
  <div>
    <p-table id="dynamic-table" [value]="responsaveis" [responsive]="true" *ngIf="visible"
      [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" [paginator]="true"
      (onLazyLoad)="aoMudarPagina($event)" class="table table-striped">
      <ng-template pTemplate="header">
        <tr>
          <th class="center" style="width: 20%;">Código</th>
          <th class="center" style="width: 70%;">Professor</th>
          <th class="center" style="width: 10%;">Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-resp>
        <tr>
          <td class="center">{{resp?.codigo}}</td>
          <td class="center">{{resp?.professor}}</td>
          <td class="center" style="text-align: center;">
            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" class="iconeopcao"
              [routerLink]="['/responsaveis', resp.codigo]"></a>

            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" class="iconeopcao"
              (click)="ConfirmarExclusao(resp)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            Nenhum professor encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div>
    <button type="button" class="btnRegister" routerLink="/responsaveis/novo">Incluir</button>
  </div>
</div>
