<div class="geral">
  <div>
    <p-table id="dynamic-table" [value]="responsaveis" [responsive]="true" *ngIf="visible"
      [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" [paginator]="true"
      (onLazyLoad)="aoMudarPagina($event)" class="table table-striped">
      <ng-template pTemplate="header">
        <tr>
          <th class="center" style="width: 20%;">Código</th>
          <th class="center" style="width: 70%;">Professor</th>
          <th class="center" style="width: 10%;">Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-resp>
        <tr>
          <td class="center">{{resp?.codigo}}</td>
          <td class="center">{{resp?.professor}</td>
          <td class="center">
            <a class="tooltip-success" data-rel="tooltip" title="Editar" [routerLink]="['/responsaveis', resp.codigo]">
              <span class="blue">
                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
              </span>
            </a>

            <a class="tooltip-error" data-rel="tooltip" title="Excluir" (click)="ConfirmarExclusao(resp)">
              <span class="red">
                <i class="ace-icon fa fa-trash-o bigger-120"></i>
              </span>
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            Nenhum professor encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div>
    <button type="button" class="btn btn-block btn-primary" routerLink="/responsaveis/novo">Incluir</button>
  </div>
</div>
